.u-section-1 .u-sheet-1 {
  min-height: 1323px;
}

.u-section-1 .u-text-1 {
  margin: 15px auto 0;
}

.u-section-1 .u-form-1 {
  height: 1226px;
  width: 1020px;
  margin: 16px auto 27px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  width: 100%;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-form-group-13 {
  margin-left: 0;
}

.u-section-1 .u-form-group-14 {
  margin-left: 0;
}

.u-section-1 .u-form-group-15 {
  width: 100%;
}

.u-section-1 .u-form-group-16 {
  margin-left: 0;
}

.u-section-1 .u-form-group-17 {
  margin-left: 0;
}

.u-section-1 .u-form-group-18 {
  margin-left: 0;
}

.u-section-1 .u-form-group-19 {
  margin-left: 0;
}

.u-section-1 .u-form-group-20 {
  margin-left: 0;
}

.u-section-1 .u-form-group-21 {
  margin-left: 0;
}

.u-section-1 .u-form-group-22 {
  margin-left: 0;
}

.u-section-1 .u-form-group-23 {
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-form-group-1 {
    width: 100%;
  }

  .u-section-1 .u-form-group-3 {
    width: 100%;
  }

  .u-section-1 .u-form-group-5 {
    width: 100%;
  }

  .u-section-1 .u-form-group-6 {
    width: 100%;
  }

  .u-section-1 .u-form-group-7 {
    width: 100%;
  }

  .u-section-1 .u-form-group-8 {
    width: 100%;
  }

  .u-section-1 .u-form-group-9 {
    width: 100%;
  }

  .u-section-1 .u-form-group-10 {
    width: 100%;
  }

  .u-section-1 .u-form-group-11 {
    width: 100%;
  }

  .u-section-1 .u-form-group-12 {
    width: 100%;
  }

  .u-section-1 .u-form-group-13 {
    width: 100%;
  }

  .u-section-1 .u-form-group-14 {
    width: 100%;
  }

  .u-section-1 .u-form-group-16 {
    width: 100%;
  }

  .u-section-1 .u-form-group-17 {
    width: 100%;
  }

  .u-section-1 .u-form-group-18 {
    width: 100%;
  }

  .u-section-1 .u-form-group-19 {
    width: 100%;
  }

  .u-section-1 .u-form-group-20 {
    width: 100%;
  }

  .u-section-1 .u-form-group-21 {
    width: 100%;
  }

  .u-section-1 .u-form-group-22 {
    width: 100%;
  }
}